BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BraceStyle: Allman
BreakBeforeBraces: Allman
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: true
IncludeBlocks: Preserve
